#map {
  display: flex;
  width: 100%;
  height: 100vh;
}

#info {
  z-index: 1;
  position: absolute;
  top: 5%;
  right: 0.5%;
  max-height: 40%;
  overflow-y: auto;
  background-color: #676767;
  padding: 0 0.3rem 0 0.3rem;
  border-radius: 0.3rem;
  font-size: small;
}

#info > p {
  display: block;
  padding: 0.5rem;
  background-color: #676767;
  margin: 0.3rem;
  border-radius: 0.3rem;
}

#instructions {
  user-select: none;
  z-index: 1;
  position: absolute;
  top: 2%;
  right: 0.6%;
  font-size: small;
  max-width: 70%;
}

@media only screen and (max-width: 600px) {
  #info {
    top: 7%;
    right: 3%;
    max-height: 20%;
    overflow-y: auto;
    background-color: #676767;
    padding: 0 0.3rem 0 0.3rem;
    border-radius: 0.3rem;
    font-size: small;
  }
}